/* Intro */

    .wrapper {
        padding-top:0;
        padding-bottom:0;
        background-color: #309da8;
        height:100vh;
        overflow:scroll;
    }

    .help {
        background-color:transparent !important;
    }

    .active {
        background: #f1a200 !important;
    }

    .help_images {
        width:60%;
        margin:1rem auto;
    }

    .number {
        width: 10%;
        height:0;
        padding-bottom:10%;
        margin: 0 3.5% 1rem;
        overflow: hidden;
        border-radius: 50%;
        border: .25em solid #e9ae42;
        float: left;
        position:relative;
    }

    .number p {
        width:100%;
        text-align: center;
        font-family: 'Raleway Bold', verdana, helvetica, arial, sans-serif;
        font-weight:700;
        font-size:2.375rem;
        margin-top:15%;
    }

    .description {
        float:left;
        width:76.5%;
    }

    .bx-pager {
        padding-top:0 !important;
        bottom:-1rem !important;
    }

    h1 {
        margin-top:2rem; /* fix for ios */
        margin-bottom:2rem;
    }

    h2 {
        color:#fff;
        text-align:left;
        letter-spacing: 0.1rem;
        font-size:1.8rem;
    }

    p {
        color:#fff;
        letter-spacing: 0.08rem;
    }


    