/* feed */
.wrapper {
    padding-top:45px;
    padding-bottom:70px;
}

.feed {
    width:90%;
    margin:2rem auto;
    border-bottom-style: solid; 
    border-bottom-width:2px;
    border-bottom-color:#979a9a;
    padding-bottom:2rem;
    overflow:hidden;
}

.feed-img {
    width: 20%;
    height: 0;
    padding-bottom: 20%;
    margin: 0 5% 0 0;
    overflow: hidden;
    border-radius: 50%;
    border: .3rem solid #f1a200;
    background-color: #f1a200;
    position: relative;
    float:left;
    
    background-position:center center;
    background-size: cover;
}

.feed-text {
    width: 70%;
    float: left;
    margin: 0rem 0;
    font-size: 1.15rem;
    color: #656868;
    float:left;
    padding-top:1rem;
}

.like {
    display:inline-block;
    width:10%;
    margin-left:5%;
    vertical-align: bottom;
}

.name_highlight {
    color: #f1a200;
    font-weight: 700;
}

.feed-likes {
    width: 100%;
    float: right;
}

h5 {
    text-align:right;
}

#geolocation {
    height: 100vh;
    width:100%;
}